html,
body,
.page {
    width: 100%;
    height: 100%;
}

html {
    background-color: aliceblue;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    background-color: white;
    font-family: "Microsoft Yahei";
}

.page {
    display: none;
    position: relative;
    background-size: 100% 100%;
    text-align: center;
}

.page > div {
    display: none;
    position: absolute;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.page > div > div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}

#page0 {
    background-image: url(../img/bg0.jpg);
}

#page1 {
    background-image: url(../img/bg1.jpg);
}

#page2 {
    background-image: url(../img/bg2.jpg);
}

#game {
    background-image: url(../img/bggame.jpg);
}

.cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

#guide {
    display: none;
    background-color: black;
    background-image: url(../img/guide.png);
}

#share {
    display: none;
    background-color: black;
    background-image: url(../img/share.png);
}

#ready {
    position: absolute;
    top: 20%;
    height: 40%;
}

#field {
    position: relative;
    top: 8%;
    left: 1%;
    width: 98%;
    height: 70%;
}

#control {
    position: relative;
    top: 10%;
    left: 1%;
    width: 98%;
    height: 18%;
}

#ready div {
    display: none;
    width: 100%;
    background-size: contain;
    z-index: 1;
}

#field div {
    width: 6.67%;
    height: 5.26%;
    background-size: 100% 100%;
}

#control div {
    margin-left: -15%;
    top: 8%;
    left: 50%;
    width: 30%;
    height: 88%;
    background-size: contain;
}

#t0-1 {
    top: 3%;
    height: 24%;
    background-image: url(../img/t0_1.png);
}

#t0-2 {
    top: 26%;
    height: 28%;
    background-image: url(../img/t0_2.png);
}

#t0-3 {
    bottom: 6%;
    height: 10%;
    background-image: url(../img/t0_3.png);
}

#t1-1 {
    top: 5%;
    height: 36%;
    background-image: url(../img/t1_1.png);
}

#t1-2,
#t2-2 {
    top: 79%;
    height: 6%;
    background-image: url(../img/t1_2.png);
}

#t1-3,
#t2-3 {
    top: 86%;
    height: 6%;
    background-image: url(../img/t1_3.png);
}

#t2-1 {
    top: 4%;
    height: 26%;
    background-image: url(../img/t2_1.png);
}

#t3-1 {
    top: 0%;
    height: 28%;
    background-image: url(../img/ready.png);
}

#t3-2 {
    top: 50%;
    height: 35%;
    background-image: url(../img/ready.gif);
}

#t3-3 {
    top: 45%;
    height: 40%;
    background-image: url(../img/readygo.png);
}

#time {
    top: 43%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    line-height: 50px;
}

#field .cloud {
    background-image: url(../img/cloud.png);
}

#field .r1 {
    background-image: url(../img/r1.gif);
}

#field .r2 {
    background-image: url(../img/r2.gif);
}

#control #ball {
    background-image: url(../img/control.png);
}

.bounceInDown {
    -webkit-animation: bounceInDown 1s linear 0s 1 alternate;
}

@-webkit-keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}